<HTML>
  <HEAD>
  <TITLE>Done Voting</TITLE>
  </HEAD>

  <BODY>
  <center>
  <h2>Thanks!</h2>
  </center>

  Thank you for voting.  You can click <a href="./">here</a> to vote on
  additional questions (if there are any).

  </BODY>
  </HTML>
